#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



header {
  background-color: #373845; /* Matches the dark background color */
}

header a {
  color: #FFFFFF; /* White text color */
  text-decoration: none; /* Remove underline */
}

header a:hover {
  text-decoration: underline; /* Underline on hover */
}

header .font-semibold {
  font-size: 1.25rem; /* Matches the font size for the title */
}

header .flex > a {
  margin-right: 2rem; /* Space between navigation items */
}

header .flex > a:last-child {
  margin-right: 0; /* No margin for the last item */
}

